body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Carousel principal centré */
.product-carousel {
    width: 320px;
    margin: 0 auto;
}

.product-carousel .keen-slider__slide {
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-carousel .keen-slider__slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Miniatures */
.thumbnail-carousel {
    width: max-content;
    margin: 10px auto;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.thumbnail-carousel .keen-slider__slide {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.thumbnail-carousel .keen-slider__slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.thumbnail-carousel .keen-slider__slide.active {
    border: 2px dashed black;
}
