body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.keen-slider{
    width: 500px;
}

[class^="number-slide"],
[class*=" number-slide"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 500px;
    width: 600px;
    max-height: 100vh;
}

.thumbnail .keen-slider__slide {
    font-size: 30px;
    margin-top: 10px;
    height: 80px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;

}

.thumbnail .keen-slider__slide.active {
    border: 2px dashed black;
}
