.cart {
    width: 300px;
    img {
        width: 90px;
        height: 90px;
    }


    .cart-title {
        text-align: center;
    }
    .cart-total {
        margin: 10px 30px;
    }
    .cart-buttons {
        text-align: center;
        margin: 20px auto;
    }
}