.filters-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    .select-brand, .select-color {
        display: flex;
        width: 150px;
        margin: 0 5px;
    }
    #search-input {
        margin: 0 5px;
    }
    #clear-filters-btn {
        margin: 0 5px;
    }
}

.color-icon { margin-right: 20px;
    padding: 0;
}

.white-icon {color: rgb(241, 241, 241)}
.red-icon {color: rgb(179, 38, 38)}
.black-icon {color: rgb(48, 48, 48)}

.select-color {
    text-align: center;
}