.filters-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    .select-brand, .select-color {
        display: flex;
        width: 150px;
        margin: 0 10px;
    }
    #search-input {
        margin: 0 10px;
    }
    #clear-filters-btn {
        margin: 0 5px;
    }
    .sort-products {
        display: flex;
        width: 170px;
        margin-left: 50px;
    }
}

.color-icon { margin-right: 20px;
    padding: 0;
}

.white-icon {color: rgb(241, 241, 241)}
.red-icon {color: rgb(179, 38, 38)}
.black-icon {color: rgb(48, 48, 48)}
.blue-icon {color: rgb(38, 104, 179)}
.rose-icon {color: rgb(237, 102, 215)}
.gold-icon {color: rgb(179, 156, 38)}

.select-color {
    text-align: center;
}