.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fbf5f3;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
}

.right-side-header {
    display: flex;
    position: relative;
}

#account-menu {
    top: 55px;
}

.card-img-container {
    position: relative;
    transition: all ease 0.3s;
}

.card-fav-icon {
    transition: all ease 0.3s;
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    z-index: 5;
}

.cart-menu {
    position: sticky;
}
