.login-dialog-title {
    text-align: center;
    margin: 10px 0;
}

.login-dialog-inputs {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.login-dialog-buttons {
    text-align: center;
    margin: 20px 0;
    .login-button, .cancel-login-button {
        margin: 10px 10px;
    }
}