a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 0 5px;
    padding: 4px 5px;
    border-radius: 5px;
    transition: 0.3s linear;
    &:hover {
        color: var(--primary-color);
    }
}

.active {
    border: 1px solid var(--primary-color);
}