.card {
    margin: 15px 0;
    padding-bottom: 10px;
    border-radius: 5px;
    .card-img-container {
        transition: all 0.8s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }
    img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }
}

.product-card-text {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}

.product-card-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}